{% extends "minimal-layout.html" %}

{% block page_title %}
  NHS Service finder
{% endblock %}

{% block content %}




<main id="content" role="main" style="padding-bottom: 0">

  

<div id="">
    


        <div id="dashboard-page" class="brandedpage">

          <div id="branded-header">
            <h1>Service Finder</h1>

          </div>


          <div id="dashboard-head">
            <h2 class="heading-large">Data dashbard</h2>

            <p class="phone-bodytext">
            Showing data for all Service Finder users from 1 July 2018 to 1 August 2018.</p>
          </div>



          <div id="dashboard-summary">

            <div class="dash-ball" id="dash-today">
              <p class="dash-label">today</p>

              <p class="dash-value">210</p>
            </div>

            <div class="dash-ball" id="dash-month">
              <p class="dash-label">last 31 days</p>

              <p class="dash-value">6,212</p>

              <p><a href="dashboard-02" style="color: #006">Show all days</a>
            </div>

          </div>



          <!--<div id="dashboard-details">

            <ul>
              <li><span class="dash-date">01 August</span> <span class="dash-day">Wed</span> <span class="dash-data">210</span></li>


              <li><span class="dash-date">31 July</span> <span class="dash-day">Tue</span> <span class="dash-data">201</span></li>

              <li><span class="dash-date">30 July</span> <span class="dash-day">Mon</span> <span class="dash-data">201</span></li>

              <li><span class="dash-date">29 July</span> <span class="dash-day">Sun</span> <span class="dash-data">201</span></li>

              <li><span class="dash-date">28 July</span> <span class="dash-day">Sat</span> <span class="dash-data">201</span></li>

              <li><span class="dash-date">27 July</span> <span class="dash-day">Fri</span> <span class="dash-data">201</span></li>

              <li><span class="dash-date">26 July</span> <span class="dash-day">Thu</span> <span class="dash-data">201</span></li>

              <li><span class="dash-date">25 July</span> <span class="dash-day">Wed</span> <span class="dash-data">201</span></li>


              <li><span class="dash-date">24 July</span> <span class="dash-day">Tue</span> <span class="dash-data">201</span></li>

              <li><span class="dash-date">23 July</span> <span class="dash-day">Mon</span> <span class="dash-data">201</span></li>

              <li><span class="dash-date">22 July</span> <span class="dash-day">Sun</span> <span class="dash-data">201</span></li>

              <li><span class="dash-date">21 July</span> <span class="dash-day">Sat</span> <span class="dash-data">201</span></li>

              <li><span class="dash-date">20 July</span> <span class="dash-day">Fri</span> <span class="dash-data">201</span></li>

              <li><span class="dash-date">19 July</span> <span class="dash-day">Thu</span> <span class="dash-data">201</span></li>

              <li><span class="dash-date">18 July</span> <span class="dash-day">Wed</span> <span class="dash-data">201</span></li>
             

             <li><span class="dash-date">17 July</span> <span class="dash-day">Tue</span> <span class="dash-data">201</span></li>

              <li><span class="dash-date">16 July</span> <span class="dash-day">Mon</span> <span class="dash-data">201</span></li>

              <li><span class="dash-date">15 July</span> <span class="dash-day">Sun</span> <span class="dash-data">201</span></li>

              <li><span class="dash-date">14 July</span> <span class="dash-day">Sat</span> <span class="dash-data">201</span></li>

              <li><span class="dash-date">13 July</span> <span class="dash-day">Fri</span> <span class="dash-data">201</span></li>

              <li><span class="dash-date">12 July</span> <span class="dash-day">Thu</span> <span class="dash-data">201</span></li>

              <li><span class="dash-date">11 July</span> <span class="dash-day">Wed</span> <span class="dash-data">201</span></li>


              <li><span class="dash-date">10 July</span> <span class="dash-day">Tue</span> <span class="dash-data">201</span></li>

              <li><span class="dash-date">09 July</span> <span class="dash-day">Mon</span> <span class="dash-data">201</span></li>

              <li><span class="dash-date">08 July</span> <span class="dash-day">Sun</span> <span class="dash-data">201</span></li>

              <li><span class="dash-date">07 July</span> <span class="dash-day">Sat</span> <span class="dash-data">201</span></li>

              <li><span class="dash-date">06 July</span> <span class="dash-day">Fri</span> <span class="dash-data">201</span></li>

              <li><span class="dash-date">05 July</span> <span class="dash-day">Thu</span> <span class="dash-data">201</span></li>

              <li><span class="dash-date">04 July</span> <span class="dash-day">Wed</span> <span class="dash-data">201</span></li>


              <li><span class="dash-date">03 July</span> <span class="dash-day">Tue</span> <span class="dash-data">201</span></li>

              <li><span class="dash-date">02 July</span> <span class="dash-day">Mon</span> <span class="dash-data">201</span></li>

              <li><span class="dash-date">01 July</span> <span class="dash-day">Sun</span> <span class="dash-data">201</span></li>

            </ul>

            </div>-->

            <p style="padding:2em 0 10em 0">Data correct at 18:00 01 August 2018</p> 
             
             


          



        </div>



       

        



</div>

</main>




{% endblock %}


